.goods-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 12px;
    padding: 10px 15px;
    height: 150px;
    text-align: center;
}
